<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thms.mapper.DoctorMapper">
	<insert id="insert">
		insert into tbl_doctor(dname,
		dgender, dclinic,sjid)
		values(#{dname},#{dgender},#{dclinic},#{sjid});
	</insert>

	<select id="listAll" resultType="DoctorVO"> 
	<![CDATA[ 
	SELECT `did`, `dname`, `dgender` ,`dclinic` ,`sjid`
		 FROM 
	 `tbl_doctor` 
		 WHERE `did`>0 ORDER BY `did` DESC 
		]]>
	</select>
	<select id="readPage" resultType="DoctorVO">
		SELECT
		`did`, `dname`, `dgender`
		,`dclinic` ,`sjid`
		FROM
		`tbl_doctor`
		WHERE
		`did`=#{did}
	</select>
	<update id="update">
		update tbl_doctor set
		`dname` =#{dname},`dgender`
		=#{dgender},`dclinic` =#{dclinic},`sjid` =#{sjid}
		where
		`did`=#{did}
	</update>


	<select id="listView" resultType="DoctorVO">
			<![CDATA[
				SELECT * FROM `tbl_doctor` WHERE `sjid`=#{sjid}
			]]>
	</select>

	<delete id="delete">
		delete from tbl_doctor where `did`=#{did}
	</delete>



	<select id="listPage" resultType="DoctorVO"> 
	<![CDATA[ 
	SELECT `did`, `dname`, `dgender` ,`dclinic` ,`sjid`
		 FROM 
	 `tbl_doctor` 
		 WHERE `did`>0 ORDER BY `did` DESC
		 limit #{pageStart},#{perPageNum} 
		]]>
	</select>
	<select id="listCriteria" resultType="DoctorVO"> 
	<![CDATA[ 
		SELECT `did`, 
			`dname`, `dgender` ,`dclinic` ,`sjid`
		 FROM 
		 	`tbl_doctor` 
		 WHERE 
		 	`did`>0 ORDER BY `did` DESC 
		 limit #{pageStart},#{perPageNum} 
		]]>
	</select>
	<select id="countPaging" resultType="int"> 
	<![CDATA[ 
		select count(did) 
			from
		tbl_doctor 
			where 
		did>0 
		]]>
	</select>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'id'.toString()">
				AND `v_did` LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'na'.toString()">
				AND `v_dname` LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'nu'.toString()">
				AND `v_dclinic` LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'su'.toString()">
				AND `v_sjid` LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	<select id="listSearch" resultType="DoctorViewVO"> 
	<![CDATA[ 
		SELECT `v_did`, 
			`v_dname`, `v_dgender` ,`v_dclinic` ,`v_sjid`
		 FROM 
		 	`doctor_v` 
		 WHERE 
		 	`v_did`>0  
		]]>
		<include refid="search"></include>
		<![CDATA[
		ORDER BY `v_did` DESC 
		 limit #{pageStart},#{perPageNum} 
		]]>
	</select>
	<select id="listSearchCount" resultType="int"> 
	<![CDATA[ 
		select count(v_did) 
			from
		doctor_v 
			where 
		v_did>0 
		]]>
		<include refid="search"></include>
	</select>
</mapper> 
