<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thms.mapper.UserMapper">

	<!-- AJAX를 통해서 방이 가능한지 확인 -->
	<select id="checkRoon" resultType="String">
		select
		(select rmheadcount from tbl_room where rmid=#{rmid} ) -
		(select count(rmid) from tbl_hospitalize where rmid=#{rmid} )
	</select>






	<delete id="deletePatient">
		delete from tbl_hospitalize where hoid = #{hoid}
	</delete>


	<update id="updatePatient">

		update
		tbl_hospitalize
		set
		uid=#{uid},
		horegdate=#{horegdate},
		rmid=#{rmid},
		did=#{did}
		where
		hoid=#{hoid}

	</update>

	<!-- 환자 한명 들고가기 -->
	<select id="selectOnePatient" resultType="com.thms.domain.PatientVO">

		select
		*
		from
		tbl_hospitalize
		where
		hoid = #{hoid}

	</select>

	<!-- 환자 검색한거 갯수 들고오기 -->
	<select id="	searchPatientCount " resultType="int">

		select
		count(*)
		from
		tbl_hospitalize

		<where>
			<choose>
				<when test="searchType == 'uid'">
					uid like CONCAT('%',#{keyword},'%')
				</when>
				<when test="searchType == 'hoid'">
					hoid = #{keyword}
				</when>
				<when test="searchType == 'rmid'">
					rmid = #{keyword}
				</when>
				<when test="searchType == 'did'">
					did = #{keyword}
				</when>
			</choose>
		</where>

	</select>


	<!-- 환자 검색 리스트 가져오기 -->
	<select id="searchPatientList" resultType="com.thms.domain.PatientVO">
		select
		*
		from
		tbl_hospitalize
		<where>
			<choose>
				<when test="searchType =='hoid'">
					hoid = #{keyword}
					limit #{pageStart}, #{perPageNum}
				</when>
				<when test="searchType =='uid'">
					uid like CONCAT('%',#{keyword},'%') limit
					#{pageStart}, #{perPageNum}
				</when>
				<when test="searchType =='rmid'"> rmid = #{keyword} limit #{pageStart}, #{perPageNum}
				</when>
				<when test="searchType =='did'"> did = #{keyword} limit #{pageStart},
					#{perPageNum}
				</when>
			</choose>
		</where>

	</select>

	<!-- 환자 리스트 총 다 가져오기 -->
	<select resultType="int" id="totalPatient">
		select count(*) from
		tbl_hospitalize
	</select>

	<!-- 환자 리스트 가져오기 -->
	<select resultType="com.thms.domain.PatientVO" id="selectPatientList"> select * from
		tbl_hospitalize limit #{pageStart}, #{perPageNum}
	</select>

	<!-- 환자 등록하기 -->
	<insert id="joinForPatient">
		insert into tbl_hospitalize(uid,horegdate,rmid,did)
		value(#{uid},#{horegdate},#{rmid},#{did})
	</insert>



	<!-- 환자 등록을 위한 uid검색 -->
	<select id="searchForPatient" resultType="java.util.HashMap">
		select uid from
		tbl_member
		where
		uid like CONCAT('%',#{keyword},'%')
	</select>

	<!-- 회원 검색 -->
	<!-- 비밀번호, 닉네임, 가일일 빼고 다넣기 -->
	<select id="searchMember" resultType="com.thms.domain.MemberVO">
		select
		*
		from
		tbl_member
		<where>
			<choose>
				<when test="searchType =='uid'">
					uid like CONCAT('%',#{keyword},'%')
					limit
					#{pageStart}, #{perPageNum}
				</when>
				<when test="searchType =='uname'">
					uname like CONCAT('%',#{keyword},'%')
					limit
					#{pageStart}, #{perPageNum}
				</when>
				<when test="searchType =='uemail'">
					uemail like CONCAT('%',#{keyword},'%')
					limit
					#{pageStart}, #{perPageNum}
				</when>
				<when test="searchType =='ugender'">
					ugender = #{keyword}
					limit
					#{pageStart}, #{perPageNum}
				</when>
				<when test="searchType =='unick'">
					unick like CONCAT('%',#{keyword},'%')
					limit
					#{pageStart}, #{perPageNum}
				</when>
				<when test="searchType =='ubirth'">
					ubirth like CONCAT('%',#{keyword},'%')
					limit
					#{pageStart}, #{perPageNum}
				</when>
				<when test="searchType =='ustatus'">
					ustatus =#{keyword}
					limit
					#{pageStart}, #{perPageNum}
				</when>
			</choose>
		</where>
	</select>

	<!-- 검색 total -->
	<select id="searchTotal" resultType="int">

		select
		count(*)
		from
		tbl_member
		<where>
			<choose>
				<when test="searchType == 'uid'">
					uid like CONCAT('%',#{keyword},'%')
				</when>
				<when test="searchType == 'uname'">
					uname like CONCAT('%',#{keyword},'%')
				</when>
				<when test="searchType == 'uemail'">
					uemail like CONCAT('%',#{keyword},'%')
				</when>
				<when test="searchType == 'unick'">
					unick like CONCAT('%',#{keyword},'%')
				</when>
				<when test="searchType == 'ugender'">
					ugender = #{keyword}
				</when>
				<when test="searchType == 'ustatus'">
					ustatus =#{keyword}
				</when>
				<when test="searchType == 'ubirth'">
					ubirth like CONCAT('%',#{keyword},'%')
				</when>



			</choose>

		</where>

	</select>


	<!-- 회원가입 -->
	<insert id="joinMember">

		insert into
		tbl_member
		(uid, unick,upw, uname, uemail,
		ugender, ubirth)
		values(#{uid},#{unick},#{upw},#{uname},#{uemail},#{ugender},#{ubirth}
		)

	</insert>
	<!-- 아이디 유효성 검사 -->
	<select id="checkId" resultType="String">

		select
		*
		from
		tbl_member
		where
		uid =
		#{uid}

	</select>
	<!-- 닉네임 유효성 검사 -->
	<select id="checkNick" resultType="String">

		select
		*
		from
		tbl_member
		where
		unick =
		#{unick}

	</select>
	<!-- 회원 정보수정 id를 통해서 -->
	<update id="updateMember">
		update
		tbl_member
		set
		uname=#{uname},
		ugender=#{ugender},
		ubirth=#{ubirth}
		where uid=#{uid}
		<choose>
			<when test="ustatus =='admin' ">
				and ustatus=#{ustatus}
			</when>
			<when test="ustatus =='master' ">
				and ustatus=#{ustatus}
			</when>
		</choose>

	</update>

	<!-- 권한주기 (상태 변경) -->
	<update id="modifyStatus">
		update tbl_member set
		ustatus =#{ustatus}
		where
		uid
		=#{uid}
	</update>

	<!-- 한명 들고오기 -->
	<select id="selectOneMember" resultType="com.thms.domain.MemberVO">
		select * from
		tbl_member
		where uid
		= #{uid}
	</select>
</mapper>