<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thms.mapper.ReservationMapper">
	<insert id="add" parameterType="ReservationVO">
		INSERT INTO `tbl_reservation` (`sjid`, `did`, `ampm`, `rdate`, `uid`, `regdate`) 
		VALUES (#{sjid}, #{did}, #{ampm}, #{rdate}, #{uid}, NOW())
	</insert>

	<select id="getScheduleList" parameterType="ReservationDTO" resultType="ReservationVO">
		<![CDATA[
			SELECT 
				* 
			FROM 
				`tbl_reservation` 
			WHERE 
				`sjid`=#{sjid} AND `did`=#{did} AND LEFT(`rdate`, 7)=#{searchMonth}
		]]>
	</select>
</mapper>