<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thms.mapper.RoomMapper">

	<select id="insert" resultType="RoomVO">
		insert into tbl_room(rmnumber,
		rmheadcount)
		values(#{rmnumber},#{rmheadcount});
	</select>

	<select id="listAll" resultType="RoomVO"> 
	<![CDATA[ 
	SELECT `rmid`, `rmnumber`, `rmheadcount` 
		 FROM 
	 `tbl_room` 
		 WHERE `rmid`>0 ORDER BY `rmid` DESC 
		]]>
	</select>

	<select id="readPage" resultType="RoomVO">
		SELECT
		`rmid`, `rmnumber`,
		`rmheadcount`
		FROM
		`tbl_room`
		WHERE
		`rmid`=#{rmid}
	</select>

	<update id="update">
		update tbl_room set
		`rmid` =#{rmid},`rmnumber`
		=#{rmnumber},`rmheadcount` =#{rmheadcount}
		where
		`rmid`=#{rmid}
	</update>

	<delete id="delete">
		delete from tbl_room where `rmid`=#{rmid}
	</delete>


	<select id="listPage" resultType="RoomVO"> 
	<![CDATA[ 
	SELECT `rmid`, `rmnumber`, `rmheadcount` 
		 FROM 
	 `tbl_room` 
		 WHERE `rmid`>0 ORDER BY `rmid` DESC
		 limit #{pageStart},#{perPageNum} 
		]]>
	</select>

	<select id="listCriteria" resultType="RoomVO"> 
	<![CDATA[ 

		SELECT `rmid`, `rmnumber`, `rmheadcount` 
		 FROM 
		 	`tbl_room` 
		 WHERE 
		 	`rmid`>0 ORDER BY `rmid` DESC 
		 limit #{pageStart},#{perPageNum}  
		]]>
	</select>

	<select id="countPaging" resultType="int"> 
	<![CDATA[ 
		select count(rmid) 
			from
		tbl_room 
			where 
		rmid>0 
		]]>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'id'.toString()">
				AND `rmid` LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'na'.toString()">
				AND `rmnumber` LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="RoomVO">

	<![CDATA[ 
	
	 	(select b.rmid, b.rmnumber ,b.rmheadcount - count(b.rmid) rmcurrentcount, 
	 	b.rmheadcount from tbl_hospitalize a,
		tbl_room b where a.rmid = b.rmid  group by a.rmid desc  )
		]]>
		<include refid="search"></include>
		<![CDATA[
		limit #{pageStart},#{perPageNum}
		]]>
		
		<!-- SELECT `rmid`, `rmnumber`, `rmheadcount` FROM `tbl_room` WHERE `rmid`>0 -->
      <!-- ORDER BY `rmid` DESC limit #{pageStart},#{perPageNum} -->
	</select>

	<select id="listSearchCount" resultType="int"> 
	<![CDATA[ 
		select count(rmid) 
			from
		tbl_room 
			where 
		rmid>0 
		]]>
		<include refid="search"></include>
	</select>

</mapper> 
