<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thms.mapper.ScheduleMapper">
	<select id="calendar" parameterType="ScheduleVO" resultType="ScheduleVO">
		<![CDATA[
			SELECT * FROM `tbl_schedule` WHERE `sjid`=#{sjid} AND `did`=#{did}
		]]>
	</select>

	<insert id="add" parameterType="ScheduleVO">
		INSERT INTO 
			`tbl_schedule` 
		SET 
			`sjid`=#{sjid}, 
			`did`=#{did}, 
			`weekday`=#{weekday}, 
			`ampm`=#{ampm}, 
			`medicalCount`=#{medicalCount}
		ON DUPLICATE KEY UPDATE 
			`medicalCount`=#{medicalCount}
	</insert>
</mapper>